/* Propiedades generales de toda la página*/


*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}



body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

/* header  */

header{
    background: linear-gradient(#f49ade, #db6acc);;
    font-family: 'Roboto', sans-serif;
}
/* logo header */
header .top-nav .logo img {
    width: 8%;
    align-self: center;
    border-radius: 50%;
}
/* main */

 
main{
    width: 60%;
    margin: 0 auto;
}   

    /* Box-form */

    main section.Box-form{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        text-align: center;
        border-radius: 10px;
        margin: 20px 0px;
        padding: 10px;
        background: linear-gradient(#b94fa2b9, #c70ccdbb);
    }

        /* Redes sociales */ 
        main section div.register-input .redes-sociales{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
        }
        main section div.register-input .redes-sociales div{
            margin-left: 10px;
            margin: 8px;
            padding: 8px;
            border-radius: 5px;
        }

        main section div.register-input .redes-sociales div a{
            text-decoration: none;
            color: white;
            margin-right: 8px;
        }

        main section div.register-input .redes-sociales div i{
            color: white;
        }


        main section div.register-input .redes-sociales .face{
            background: linear-gradient(#4f5fb9f3, #0c39cd80);
        }

        main section div.register-input .redes-sociales .twitter{
            background: linear-gradient(#4f92b9f3, #0c86cd80);
        }

        main section div.register-input .redes-sociales .google    {
            background: linear-gradient(#b96d4ff3, #cd490c80);
        }




        /* button-form */



        /* register-input */
            h1{
                color: white;
            }
   
            main section div.register-input div{
                margin-bottom: 12px;
            }

            input{
                border: 1px solid #ccd0d5;
                border-radius: 7px;
                padding: 10px;
            }

            input.box{
                width: 80%;
            }

            

            button{
                color: #03264C;
                border: none;
                height: 36px;
                min-width: 100px;
                border-radius: 6px;
                background: linear-gradient(#b94fa2b9, #c70ccdbb);
            }


            section .register-input div input.submit {       
                background:linear-gradient(#b94fa2b9, #c70ccdbb);
                border: none;
            }
    
  

            button:hover{
                background:linear-gradient(#e9b0dcb9, #c896cabb);
            }


            section .register-input div input.submit:hover {       
                background:linear-gradient(#e9b0dcb9, #c896cabb);
            }








