
<!-- Esta llave es abierta en partials/shopping-favorite-icons.ejs -->
</main>

<!-- Esta llave es abierta en partials/header.ejs -->
</body>

<footer>
       
</footer>

<!-- Esta llave es abierta en partials/header.ejs -->
</html>
