<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/detalle.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    <footer>
        <div class="contenido_footer">
            <section class="redes">
                <a class="" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="" href="#!"><i class="fab fa-google"></i></a>
                <a class="" href="#!"><i class="fab fa-instagram"></i></a>
            </section>
            
            <section class="formulario">
                <form action="">
                    <label class="" for="">Enterate de nuestras ofertas</label>
                    <input  class="email" required/>
                    <button type="submit" class="registro">Registrarme</button>
                </form>
        </section>
        <section class="secciones_footer">
            <div class="compania">
                <h4 class="titulos_footer"></>Ropita</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>

            <div class="">
                <h4 class="titulos_footer">Categorias</h4>
                <p><a href="#!" class=" ">Categoria 1</a></p>
                <p><a href="#!" class=" ">Categoria 2</a></p>
                <p><a href="#!" class=" ">Categoria 3</a></p>
                <p><a href="#!" class=" ">Categoria 4</a></p>
            </div>

            <div class="">
                <h4 class="titulos_footer">Links curiosos</h4>
                <p><a href="#!" class=" ">Link 1</a></p>
                <p><a href="#!" class=" ">Link 2</a></p>
                <p><a href="#!" class=" ">Link 3</a></p>
                <p><a href="#!" class=" ">Link 4</a></p>
            </div>

            <div class="">
                <h4 class="titulos_footer">Contacto</h4>
                <p><i class="fas fa-home me-3"></i> CDMX </p>
                <p><i class="fas fa-envelope me-3"></i>info@example.com</p>
                <p><i class="fas fa-phone me-3"></i> + 52 11 22 33</p>
                <p><i class="fas fa-print me-3"></i> + 52 11 22 33</p>
            </div>
        </section>

        <div class="copyright" >
            © 2021 Copyright
        </div>
    </footer>
</body>
</html>