<header>
  <nav class="top-nav">
    <div class="sections">
      <ul>
        <li>
          <a href="#">Camisetas</a>
        </li>
        <li class="separator">|</li>
        <li>
          <a href="#">Gorras</a>
        </li>
      </ul>
    </div>

    <div class="logo">
      <a href="/">
        <img src="/images/logo.svg" alt="Logo RhoPiTao" />
      </a>
    </div>

    <div class="actions">
      <ul>
        <li>
          <a href="/login">Iniciar Sesión</a>
        </li>
        <li>
          <a href="/user/create">Registrarse</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
