<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Rho-Pi-Tao</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link name="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" >
        <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" >
        <link rel style="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <!-- Esta llave es cerrada en partials/footer.ejs -->
    <body>

        <nav class="navbar">

            <div class="logo" >
                Rho Pi Thao
            </div>

            <ul class="nav-links" >

                <il><a href="/" >Home</a></il>
                <il><a href="/about" >Conocenos</a></il>
                <il><a href="/contact">Contactanos</a></il>
                <il><a href="/login" >Inicia Sesión/Registrate</a></il>

            </ul>

        </nav>
