<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Rho-Pi-Tao</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>

    <body>

        <!-- Header -->
        <%- include("./partials/header") %>

        <main>

            <div class="shopping-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <section class="offs">
                <h3>¡Checa la últimas promociones!</h3>

                <div class="products">
                    
                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="/detalle" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="/detalle" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="/detalle" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="/detalle" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="/detalle" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="/detalle" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                </div>


            </section>

        </main>

        <%- include("./partials/footer") %>

    </body>

</html>
