<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Rho-Pi-Tao</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>

    <body>

        <header>

            <nav class="top-nav">

                <div class="sections">
                    <ul>
                        <li>
                            <a href="#">Camisetas</a>
                        </li>
                        <li class="separator">
                            |
                        </li>
                        <li>
                            <a href="#">Gorras</a>
                        </li>
                    </ul>
                </div>

                <div class="logo">
                    <a href="#">
                        <img src="/images/logo.png" alt="Logo RhoPiTao">
                    </a>
                </div>

                <div class="actions">
                    <ul>
                        <li>
                            <a href="#" >Iniciar Sesión</a>
                        </li>
                    </ul>
                </div>

            </nav>


        </header>

        <main>

            <div class="shopping-cart">
                <i class="fas fa-shopping-cart"></i>
            </div>

            <section class="offs">
                <h3>¡Checa la últimas promociones!</h3>

                <div class="products">
                    
                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="#" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="#" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="#" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="#" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="#" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                    <article>

                        <div class="box">

                            <div class="disscount-table">
                                50% OFF
                            </div>

                            <div class="img-box">
                                <img src="/images/ahegao_shirt.png" alt="Shirt" class="product-img">
                            </div>

                            <div class="price-table">
                                <div class="table-cell price">
                                    $9.99
                                </div>
                                <div class="table-cell cart-plus">
                                    <i class="fas fa-cart-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="title">
                            <a href="#" >
                                Playera Génerica
                            </a>
                        </div>

                    </article>

                </div>


            </section>

        </main>

        <footer>

            <div>

                <h4>Colaboradores:</h4>
                <div class="collaborators">
                    <ul>
                        <li>Andoni Reyes</li>
                        <li>Angel Sanchez</li>
                        <li>Francisco Minajas</li>
                        <li>Jose Rodríguez</li>
                    </ul>
                </div>

                <!-- estaría genial aqui poner un grid y en cada cuadro colocar
                     los logotipos de las tecnlogías/herramientas ocupadas
                -->
                <div class="tech-used">
                    <h4>Tecnologías ocupadas</h4>
                    <ul>
                        <li>JS</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Git</li>
                    </ul>
                </div>

            </div>

        </footer>

    </body>

</html>
