<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/login.css">
    <title>Register</title>
</head>

<body>

    <!-- Header -->
    <%- include("./partials/header") %>
    


    <main>

        <section class="Box-form">

            <div class="Button-login">

                <h1>Ingresar</h1>

            </div>

            <div class="register-input">

                <form action="/register">
                    
                    <div>
                        <input placeholder="Correo electrónico" type="text" name="nombre" minlength="8">
                    </div>
            
            
                    <div>

                        <input type="password" placeholder="Contraseña"  name="password" id="password" minlength="8">
                            
                    </div>

                    <div class="redes-sociales">

                        <div class="face">
                            <a href="#" >Facebook</a><i class="fab fa-facebook-f"></i>
                        </div>

                        <div class="google">
                            <a href="#" >Google</a><i class="fab fa-google"></i>
                        </div>

                        <div class="twitter">
                            <a href="#" >Twitter</a><i class="fab fa-twitter"></i>                        
                        </div>

                    </div>
                    
                                
                    <div>
                        <button type="submit">Iniciar sesión</button>
                    </div>
                </form>

            </div>




        </section>


    </main>


   


    </form>

    <%- include("./partials/footer") %>

</body>



</html>