<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" href="/css/nuevoProducto.css">
	<title>Nuevo Producto</title>
</head>
<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<main>
		<section class="Box-form">
			<div class="Button-login">
				<h1>Nuevo Producto</h1>
			</div>
			<div class="register-input">
				<form action="nuevoProducto">
					<div>
						<input placeholder="Nombre del Producto" type="text" name="titulo" minlength="10">
					</div>
					<div>
						<input placeholder="Precio" name="price" type="number" min="0.00" max="10000.00" step="0.01">
					</div>
					<div>
						<input placeholder="Categoría" type="text" name="categoria" minlength="8">
					</div>
					<div>
						<label>Descuento: <input type="checkbox" id="discount" value="descuento"> Si/No</label>
					</div>
					<div>
						<label>Producto para: <input type="checkbox" id="descuento" value="descuento"> Hombre/Mujer</label>
					</div>
					<div>
						<input placeholder="Categoria" type="text" name="categoria" min="0%" max="100%">
					</div>
					<div>
						<label>Selecciona Imagen del Producto: <input type="file" id="img" name="img" accept="image/*"><input type="submit"></label>
					</div>
					<div>
                        <button type="submit">Agregar Producto</button>
                    </div>
				</form>
			</div>
		</section>
	</main>
	<%- include("./partials/footer") %>
</body>
</html>
