<!doctype html>
<html ng-app="myApp">
	
	<head>
    	<meta charset="utf-8">
    	<title> Carrito de compras </title>
    	
    	<link rel="stylesheet" href="css/carrito.css">
    
	</head>
	
	<body>
		
	<hr>
	
	<h1> Mi carrito de compras </h1>
	
	<table>
		
	    <tr>
	        <th><label><input type="checkbox"></label></th>
	        <th>Producto</th>
	        <th>Precio Unitario</th>
	        <th>Unidades</th>
	        <th>Precio Total</th>
	        <th></th>
	    </tr>
	    
	    <tr>
	    	
	        <td><input type="checkbox"></td>
	        <td><img src="/images/ahegao_shirt.png" class="imagen_peque">Producto A</td>
	        <td >$100.00 MXN</td>
	        <td><button class="button_peque" >-</button><input type="text"class="entrada"> <button class="button_peque">+</button> </td>
	        <td >$100.00 MXN</td>
	        <td> <button > Eliminar </button> </td>
	        
	    </tr>

        <tr>
	    	
	        <td><input type="checkbox"></td>
	        <td><img src="/images/ahegao_shirt.png" class="imagen_peque"/>Producto A</td>
	        <td >$100.00 MXN</td>
	        <td><button class="button_peque" >-</button><input type="text"class="entrada"> <button class="button_peque">+</button> </td>
	        <td >$100.00 MXN</td>
	        <td> <button > Eliminar </button> </td>
	        
	    </tr>

        <tr>
	    	
	        <td><input type="checkbox"></td>
	        <td><img src="/images/ahegao_shirt.png" class="imagen_peque"/>Producto A</td>
	        <td >$100.00 MXN</td>
	        <td><button class="button_peque" >-</button><input type="text"class="entrada"> <button class="button_peque" >+</button> </td>
	        <td >$100.00 MXN</td>
	        <td> <button > Eliminar </button> </td>
	        
	    </tr>
	    
	    <tr>
	    	
	        <td colspan="5">
	             <div class="precioTotal"> Precio total: $100.00 MXN</div>
	        </td>
			<td >
				<div> <button > Pagar </button></div>
		   </td>
	    </tr>
	    
	</table>
    </body>