<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/carrito.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compra</title>
</head>
<body>
    <div class="divTable">
        <div class="divTableHeading1">
            <div class="divTableRow">
                <div class="divTableHead1">Carrito de Compra</div>
            </div>
        </div>
        <div class="divTableHeading2">
            <div class="divTableRow">
                <div class="divTableHead">Producto</div>
                <div class="divTableHead">Precio</div>
                <div class="divTableHead">Cantidad</div>
                <div class="divTableHead">Total</div>
            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">101</div>
                <div class="divTableCell">Manzana</div>
                <div class="divTableCell">$3</div>
                <div class="divTableCell"><a href=#>Seleccionar</a></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">102</div>
                <div class="divTableCell">Pera</div>
                <div class="divTableCell">$5</div>
                <div class="divTableCell"><a href=#>Seleccionar</a></div>
            </div>
            <div class="divTableRow">
                <div class="divTableCell">102</div>
                <div class="divTableCell">Uva</div>
                <div class="divTableCell">$3</div>
                <div class="divTableCell"><a href=#>Seleccionar</a></div>
            </div>
        </div>
        <div class="divTableFoot">
            <div class="divTableRow">
                <div class="divTableCell">Total</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">$11</div>
                <div class="divTableCell"></div>
            </div>
        </div>
    </div>
</body>
</html>