<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <div>
                <form>
                    <input type="text" name="buscar" id="buscar" placeholder="Buscar">
                    <button type="submit"></button>
                </form>
            </div>
            <div>
                <a href="#">Cuenta</a>
                <a href="#">Carrito</a>
            </div>
        </div>
        <nav>
        </nav>
    </header>
    <main class="producto">
        
        <div class="imagen_producto">
            <img src="img/muestra.jpg" alt="muestra">
        </div>
        <div class="detalles_producto">
            <div class="descripcion_producto">
                <h2>Producto</h2>
                <p>$$$</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, nulla eligendi? Pariatur voluptate, sunt voluptates error ad dolorum laudantium porro incidunt iusto cum mollitia necessitatibus voluptatum, a in molestias quia.</p>
            </div>
            <div class="talla">
                <h3>Talla </h3>
                <select>
                    <option>Chica</option>
                    <option>Mediana</option>
                    <option>Grande</option>
                </select>
            </div>
            <div class="cantidad">
                <div>
                    <h3>Cantidad</h3>
                </div>
                <div class="numero">
                    <button>+</button>
                    <p>N</p>
                    <button>-</button>
                </div>
            </div>
            <div class="botones_detalles">
                <button name="agregar" id="agregar">Agregar al carrito</button>
                <button name="comprar" id="comprar">Comprar ahora</button>
            </div>
            <div class="detalles_extra">
                <p>Estampado en serigrafía sin tacto.

                    100% algodón peinado ultra-ligero.
                    
                    Las fotografías presentadas aquí son ilustrativas, los colores y el acabado final pueden tener algunas variaciones.</p>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>