<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/registro.css">
    <title>Register</title>
</head>

<body>

    <header>
           
        <!-- Logo -->

      
        <div class="top-nav">
            
            <!-- Logo -->
                         
            <div class="logo">

                <img src="images/logo.png" alt="Logo RhoPiTao">

            </div>


        </div>



    </header>

    <main>

        <section class="Box-form">

            <div class="Button-register">

                <h1>Registrate</h1>

            </div>

            <div class="register-input">

                <form action="/register">
                    <div>
                        <input placeholder="Coloca tu nombre" type="text" name="nombre" minlength="8" class="box">
                    </div>
            
                    <div>
                        <input placeholder="Nombre Usuario" type="text" name="nUsuario" minlength="5" class="box">
                    </div>
            
                    <div>
                        <input placeholder="dd/mm/aaaa" type="date" name="fechanac" required class="box">
                    </div>
            
                    <div>
                        <input placeholder="Coloca tu domicilio" type="text" name="domicilio" class="box">
                    </div>

                    <div>
                        <input placeholder="Correo electrónico" type="text" name="nombre" minlength="8" class="box">
                    </div>
            
                    
                    <div>
                        <label for="vendedor">Quiero vender</label>
                        <input type="radio" name="tipousr" value="Vendedor" id="vendedor"></input>
                        <label for="comprador">Quiero Comprar</label>
                        <input type="radio" name="tipousr" value="comprador" id="comprador"></input>
                        <label for="Ambos">Ambos</label>
                        <input type="radio" name="tipousr" value="Ambos" id="Ambos"></input>

                    </div>
            
                    <div>
                        <label>¿Cuáles son tus intereses?</label>  
                    </div>

                    <div>
                          
                        <label for="electro">
                            Electro
                            <input type="checkbox" name="intereses" value="electro" id="electro" ></input>
                        </label>
                        
                        <label for="Moda">
                            Moda
                            <input type="checkbox" name="intereses" value="Moda" id="Moda"></input>
                        </label>
                        
                        <label for="Hogar">
                            Hogar
                            <input type="checkbox" name="intereses" value="Hogar" id="Hogar"></input>
                        </label>
                        
                        <label for="Jugueteria">
                            Jugueteria
                            <input type="checkbox" name="intereses" value="Jugueteria" id="Jugueteria"></input>
                        </label>
            
                        <label for="VidaS">
                            Vida Sana
                            <input type="checkbox" name="intereses" value="VidaS" id="VidaS" ></input>
                        </label>

                    </div>
            
                    <div>
                        <label>Seleccionar una imagen para el perfil:
                        <input type="file" name="avatar" accept=".jpg" multiple class="box" >
                        </label>
                    </div>
            
                    <div>

                        <input type="password" placeholder="Contraseña"  name="password" id="password" minlength="8" class="box">
                            
                    </div>

                    <div>
                        
                        <input type="password" placeholder="Confirmar contraseña" name="confirm_password" id="confirm_password" minlength="8" class="box">
                        <input type="submit" value="Confirmar">         
                        
                    </div>
                    
                  

            
                    <div>
                        <button type="reset">Borrar</button>
                        <button type="submit">Enviar</button>
                    </div>
                </form>

            </div>




        </section>


    </main>


   


    </form>
</body>
</html>