<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Register</title>
</head>

<body>

    <header>
           
        <!-- Logo -->

        <div>
            
            <!-- Logo -->
                         
            <div class="logo">

                <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">

            </div>


        </div>


    </header>

    <main>

        <section class="Box-form">

            <div class="Button-login">

                <h1>Ingresar</h1>

            </div>

            <div class="register-input">

                <form action="/register">
                    
                    <div>
                        <input placeholder="Correo electrónico" type="text" name="nombre" minlength="8">
                    </div>
            
            
                    <div>

                        <input type="password" placeholder="Contraseña"  name="password" id="password" minlength="8">
                            
                    </div>

                    
                                
                    <div>
                        <button type="submit">Iniciar sesión</button>
                    </div>
                </form>

            </div>




        </section>


    </main>


   


    </form>
</body>
</html>