<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link name="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" >
        <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" >
    </head>
    <body>

        <nav class="navbar" >
            <ul class="navbar-links">
                <il><a href="/" >Home</a></il>
                <il><a href="/about" >Conócenos</a></il>
                <il><a href="/contact" >Contactanos</a></il>
                <il><a href="/login" >Inicio Sesión</a></il>
            </ul>
        </nav>

        <main>

        </main>
        
    </body>
</html>
